- var page = { title:'blog' }
include /includes/head.jade
body
  - var header_class = 'navbar-overlay'
  include /includes/header.jade
  .container-fluid.fill
    .row
      .col-sm-12.blog-header.inverse
        .blog-header-image(style='background-image: url(images/main.jpg);')
          .blog-header-text.row
            .col-md-offset-2.col-md-8
              include:md md/cover.md
  .container
    .row
      .col-md-offset-2.col-md-8.blog-post
        include:md md/post.md

  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
  script(src='/js/bootstrap.min.js')
include /includes/footer.jade